body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #002223, #004D4F);
  color: #333;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

button {
  padding: 12px 20px;
  border: none;
  background: linear-gradient(45deg, #008080, #ffb400);
  color: #fff;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
